BASE_URL = "https://thought-partner-env-staging-ai-leadership.vercel.app"
AI_LEADERSHIP_URL = "https://connect.aileadership.com"

MAILSLURP_API_KEY =
  "47a7d221a397fbac0cc6381495ea642cc4961b77bee48e3bf652c33ee9282ac8";